@import url(fields/index.css);

form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 0.75rem;

  & .legend {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font: var(--text-heading-sm);

    margin-bottom: 1.5rem;

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

fieldset + fieldset {
  margin-top: 3rem;
}

.colors-section {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.75rem;

  /* flex-direction: column; */
  & :nth-child(1) {
    background: #59b2ff;
  }

  & :nth-child(2) {
    background: #6a59ff;
  }

  & :nth-child(3) {
    background: #b259ff;
  }

  & :nth-child(4) {
    background: #ff59f9;
  }
  & :nth-child(5) {
    background: #ff598b;
  }

  & :nth-child(6) {
    background: #ff5959;
  }

  & :nth-child(7) {
    background: #ff8b59;
  }

  & :nth-child(8) {
    background: #ffcd59;
  }

  & :nth-child(9) {
    background: #e1ff59;
  }

  & :nth-child(10) {
    background: #59ff91;
  }

  & :nth-child(11) {
    background: #59fff9;
  }

  & input {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;
    border: 0.375rem solid var(--shape-button);
  }
}

.theme-colors {
  max-width: 25rem;

  .theme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;

    max-width: 35rem;

    margin-top: 1rem;

    & .card-theme {
      min-width: 8.375rem;

      display: flex;
      padding: 0.25rem 0.25rem 0.5rem 0.25rem;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      border-radius: 0.5rem;
      border: 1px solid var(--input-stroke);
      background: var(--shape-button);

      &:hover {
        background-color: var(--shape-hover);
      }

      /* &:focus {
        outline: 2px solid var(--brand-light);
        background-color: var(--shape-button);
      } */

      &.selected {
        outline: 2px solid var(--brand-light);
        background-color: var(--shape-button);
      }
    }
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;

    /* align-items: center; */
    > div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    & .switch-toggle {
      & > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }
    }

    & .input-file {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      & img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.contact {
  .input-wrapper input {
    &:invalid {
      border: 1px solid var(--danger);
    }

    &[required] + .error {
      display: flex;
      align-items: center;
      gap: .5rem;
      
      font: var(--text-body-xs);
      color: var(--danger);

      margin-top: .5rem;
    }

    &:valid + .error {
      display: none;
    }
  }
}

footer {
  display: flex;
  margin-top: 48px;
  padding-top: 40px;
  flex-direction: column;

  font: var(--text-body-sm);

  border-top: 1px solid var(--input-stroke);

  .terms-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;

    & strong {
      color: var(--brand-light);
    }
  }

  & .checkbox-wrapper {
    position: relative;

    & input[type="checkbox"] {
      all: unset;

      position: absolute;
      inset: 0;
    }

    & .checkbox-image {
      flex: 0 0 1.25rem;
      height: 1.25rem;

      background-image: url(../assets/icons/checkbox-default.svg);
    }

    &:has(:checked) .checkbox-image {
      background-image: url(../assets/icons/checkbox-checked.svg);
    }
  }

  & .action {
    display: flex;
    width: 560px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 48px;

    & button {
      display: flex;
      height: 48px;
      padding: 4px 20px;
      justify-content: center;
      align-items: center;
      gap: 12px;

      border: none;
      border-radius: 8px;

      font: var(--text-body-md);
      color: var(--text-heading);
      background: var(--brand-dark);
    }
  }
}
