* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  --font-family: "Open Sans", sans-serif;
  --font-family-logo: "Leckerli One", cursive;
  --font-family-heading: "Baloo 2", sans-serif;
  --text-body-md: 400 1rem/1.5 var(var(--font-family));
  --text-body-sm: 400 0.875rem/1.5 var(var(--font-family));
  --text-body-xs: 400 0.75rem/1.5 var(var(--font-family));
  --text-heading-md: 700 1.75rem/1.5 var(var(--font-family-heading));
  --text-heading-sm: 700 1.125rem/1.5 var(var(--font-family-heading));
  --text-logo: 2.5rem/1.5 var(var(--font-family-heading));
}
