#app {
  display: grid;
  grid-template-columns: 31.25% 68.75%;
  gap: 1.25rem;
  
  height: 100vh;
  overflow: hidden;
}

aside {
  padding: 2rem;
  border-radius: 0.75rem;

  /* max-height: 45.5rem; */

  & img {
    width: 2.8rem;
    height: 3rem;

    margin-bottom: 1rem;
  }
  
  background: linear-gradient(180deg, rgba(33, 37, 38, 0.80) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.30) 40.5%, rgba(33, 37, 38, 0.10) 100%), url(../assets/Background.png) lightgray 50% / cover no-repeat;
  
  & .aside-container {
    max-width: 25rem;
    margin-left: auto;
  }

  & h1 {
    color: #FF598B;
    font: var(--text-logo);
  }
  
}

main {
  padding: 5rem 8.125rem;
  overflow: auto;

  border-radius: 0.75rem;
  background-color: var(--shape-body);

  & .main-container {
    max-width: 35rem;
    /* margin-right: auto; */
  }
}
